<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>v-if</title>

</head>

<body>
  <div id="app">
    <!-- v-if를 사용하면 조건이 true일 때만 요소가 보여집니다 -->
    <p v-if="value">값은 {{ value }}입니다!</p>
    <p v-if="number == 100">number의 값은 {{ number }}입니다!</p>

    <!-- v-if는 true가 아니면 렌더링하지 않습니다 -->
    <p v-if="number == 50">number의 값은 {{ number }}입니다!</p>
  </div>
</body>

<script src="https://unpkg.com/vue"></script>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      value: true,
      number: 100,
    }
  })
</script>

</html>